<ion-card  mode="md" class="ion-align-self-start">
  <ion-card-header class="ion-no-padding">
    <ion-row>
      <ion-col size="2">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />

      </ion-col>
      <ion-col size="10">
        <ion-card-title>{{itemDetail.title}}</ion-card-title>
        <ion-card-subtitle>{{itemDetail.subtitle}}</ion-card-subtitle>
      </ion-col>
    </ion-row>

  </ion-card-header>
  <ion-item class="item" >
    <ion-icon name="pin" slot="start"></ion-icon>
    <!-- TODO asegurarse de que los records se guardan ordenados (mas nuevos al principio) -->
    <p class="info">{{record.value}} {{itemDetail.um}}</p>
    <ion-button fill="outline" slot="end" [routerLink]="'/section/Home/ViewItem/'+ itemDetail._id" (click)="setDetailItemId()">View</ion-button>
  </ion-item>

  <ion-card-content>
    {{itemDetail.description}}
  </ion-card-content>
</ion-card>
