<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="/assets/icon.png"></ion-img>
        <h1>Bebetter</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="signin-title ion-padding-start">
        <ion-title class="ion-no-padding">Sign Up</ion-title>
        <p>Dare to be better</p>
      </ion-col>
    </ion-row>
    <form *ngIf="user == null" [formGroup]="form">
      <div *ngIf=" error == true ">
        <div class="alert alert-danger mb-4 animate__animated animate__shakeX" role="alert">
          {{ msg }}
        </div>
      </div>
      <ion-row>
        <ion-col>
          <ion-item class="color-input" >
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [formControlName]="'username'" id="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text"  [formControlName]="'name'" id="name" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [formControlName]="'email'" id="email"  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [formControlName]="'password'" id="registroPassword" aria-describedby="registroPasswordHelpBlock"></ion-input>
            <small id="registroPasswordHelpBlock" class="form-text text-muted mb-4">
              La contraseña debe tener al menos 8 caracteres
            </small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label><small>I agree to the <ion-text>Terms of Services</ion-text> and <ion-text>Privacy Policy</ion-text></small></ion-label>
            <ion-checkbox class="checkbox" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="solid" size="large" strong [disabled]="form.invalid" type="submit">Sign Up</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <p>Have an account? <ion-text [routerLink]="'/signin'">Sing In</ion-text></p>
    </ion-col>
  </ion-row>
</ion-footer>
