
ion-avatar {
  width: 80%;
  height: auto;
  margin: auto;
  position: relative;
}

.title1 {
  color: var(--color-pink);
  text-align: left;
  font-weight: bold;
}
.title2 {
  color: var(--color-orange);
  text-align: right;
  font-weight: bold;
}

.item{
  --ion-background-color: linear-gradient(to right, rgba(233, 30, 99, 0.5) 0%, rgba(255, 143, 0, 0.5) 100%) !important;
}

ion-item.color-input {
  // --border-color:  linear-gradient(to right, rgba(233, 30, 99, 1) 0%, rgba(255, 143, 0, 1) 100%) !important;
  --highlight-color-focused:  linear-gradient(to left, rgba(233, 30, 99, 1) 0%, rgba(255, 143, 0, 1) 100%);
  --highlight-height: 3px;
}

ion-item p {
  color: white;
  text-align: left;
  font-weight: bold;
}

.bottom {
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
}

ion-button{
  &.delete-button {
    --background: transparent;
    --color: white;
    --box-shadow: none;
  }
}

ion-fab {
  margin-bottom: var(--ion-margin, 24px);
  padding-bottom: var(--ion-padding, 16px);
  margin-right: var(--ion-margin, 6px);
}

ion-fab-button {
  &.add-button {
    --background: var(--color-pink);
    --color: white;
    float: right;

  }
}

.dot {
  height: 80px;
  width: 80px;
  border: var(--color-pink) solid 4px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.activity p {
  font-size: small;
}

.listContainer {
  height: 100% !important;
  overflow-y: scroll;
}
