<ion-segment (ionChange)="(false)" value="all" slot="fixed">
  <ion-segment-button value="all" class="button-all">
    <ion-label>All</ion-label>
  </ion-segment-button>
  <ion-segment-button value="public" class="button-public">
    <ion-label>Public</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-row style="overflow: scroll">
  <ion-col>
    <div>
      <app-items [routerLink]="'/section/Home/EditItem/1'"></app-items>
      <app-items></app-items>
      <app-items></app-items>
      <app-items></app-items>
      <app-items></app-items>
    </div>
  </ion-col>
</ion-row>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" edge >
  <ion-fab-button [routerLink]="'/section/Home/NewItem'">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
