<ion-segment (ionChange)="false">
  <ion-segment-button value="all">
    <ion-label>All</ion-label>
  </ion-segment-button>
  <ion-segment-button value="public">
    <ion-label>Public</ion-label>
  </ion-segment-button>
</ion-segment>

<div style="overflow: scroll;">

  <app-items></app-items>
  <app-items></app-items>
  <app-items></app-items>
  <app-items></app-items>
  <app-items></app-items>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" edge class="">
  <ion-fab-button >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
