<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="/assets/icon.png"></ion-img>
        <h1>Bebetter</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="signin-title ion-padding-start ion-margin-top">
        <ion-title class="ion-no-padding">Sign In</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="signin-slogan ion-text-left ion-padding-horizontal">Hi there! Nice to see you again.</p>
      </ion-col>
    </ion-row>
    <form [formGroup]="form" *ngIf="form" (ngSubmit)="login()">
      <ion-row>
        <ion-col>
          <div *ngIf="error">
            <div class="animate__animated animate__shakeX ion-text-center">
              {{ msg }}
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Email</ion-label>
            <ion-input [formControlName]="'email'" id="inputEmail" type="email"  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Password</ion-label>
            <ion-input [formControlName]="'password'" type="password" id="inputPwd"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="ion-margin-bottom" expand="block" fill="solid" size="large" type="submit">Sign In</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="">or use one of your Google account</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="ion-margin-top google" expand="block" fill="solid" size="large"><ion-icon class="ion-padding-end" name="logo-google"></ion-icon>Sign In with Google</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <p>Forgot password?</p>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-margin-vertical ion-float-end ion-padding-end ion-margin-end" [routerLink]="'/signup'">Sign Up</ion-text>
    </ion-col>
  </ion-row>
</ion-footer>
