
<ion-content class="ion-padding">
  <ion-grid >
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-img src="/assets/icon.png"></ion-img>
        <h1>Bebetter</h1>
      </ion-col>
    </ion-row>
    <ion-row  class="ion-no-padding">
      <ion-col class="signin-title ion-padding-start ion-text-left">
        <ion-title class="ion-no-padding">New Item</ion-title>
        <p>Dare to be better</p>
      </ion-col>
    </ion-row>
    <form class="ion-no-padding" [formGroup]="form" *ngIf="form" (ngSubmit)="createItem()">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <div *ngIf="error">
            <div class="animate__animated animate__shakeX ion-text-center">
              {{ msg }}
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input" >
            <ion-label position="floating">Title</ion-label>
            <ion-input [formControlName]="'title'" id="inputTitle" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Subtitle</ion-label>
            <ion-input [formControlName]="'subtitle'" id="inputSubitle" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Description</ion-label>
            <ion-input [formControlName]="'description'" id="inputDescription" type="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Units of Measurement</ion-label>
            <ion-input [formControlName]="'um'" id="inputUm" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-list lines="none" class="ion-no-padding">
          <ion-radio-group  [formControlName]="'type'" id="inputType">
            <ion-list-header>
              <ion-label class="color-label">Item Type</ion-label>
            </ion-list-header>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Goal</ion-label>
                  <ion-radio slot="start" value="1"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Follow-up</ion-label>
                  <ion-radio slot="start" value="2"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="color-input item-has-placeholder">
            <ion-label position="floating" style="font-size:14px;">Choose a start date</ion-label>
            <ion-input type="date" [formControlName]="'date'" id="inputDate"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="color-input item-has-placeholder">
            <ion-label position="floating" style="font-size:14px;">Choose your objective</ion-label>
            <ion-input [formControlName]="'objective'" id="inputObjective" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" fill="solid" size="large">Create</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>

