<ion-grid style="overflow: scroll">
  <ion-row>
    <ion-col>
      <ion-img src="/assets/icon.png"></ion-img>
      <h1>Bebetter</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="signin-title ion-padding-start">
      <ion-title class="ion-no-padding">{{itemDetails.title}}</ion-title>
      <p>{{itemDetails.subtitle}}</p>
      <p class="description">{{itemDetails.description}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-fab-button (click)="true" class="add-button">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

      <ion-list>
        <ion-row>
          <ion-col size="12"  *ngFor="let record of itemDetails.records">
            <ion-item-sliding class="ion-padding-horizontal">
              <ion-item class="item">
                <ion-icon name="pin" slot="start"></ion-icon>
                <p class="info">{{record.value}} {{itemDetails.um}}</p>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option (click)="deleteRecord(record._id)">Delete</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-col>
        </ion-row>
      </ion-list>

    </ion-col>
  </ion-row>


  <ion-row class="ion-padding-vertical ion-margin-vertical">

  </ion-row>

  <ion-row class="bottom">
    <ion-col size="6">
      <ion-button class="ion-float-start ion-padding delete-button" (click)="deleteItemDetails(itemDetails._id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="6" class="ion-padding-end">
      <ion-fab-button (click)="navigateToEditItem()" class="edit-button ion-float-end ion-margin-end">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>

</ion-grid>
