
ion-img {
  width: 25%;
  margin: auto;
  margin-top: 5%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: var(--ion-color-step-650);
  font-size: large;
}

.signin-title {
  color: var(--color-pink);
  text-align: start;
  & p {
    margin-block-start: 0.2em;
    padding: 10px 0px;
    &.description {
      color: white;
      padding-top: 0px;
    }
  }
  & ion-title {
    font-size: x-large;
    font-weight: bold;
  }
}

.item{
  --ion-background-color: linear-gradient(to right, rgba(233, 30, 99, 0.5) 0%, rgba(255, 143, 0, 0.5) 100%) !important;
}

ion-item.color-input {
  // --border-color:  linear-gradient(to right, rgba(233, 30, 99, 1) 0%, rgba(255, 143, 0, 1) 100%) !important;
  --highlight-color-focused:  linear-gradient(to left, rgba(233, 30, 99, 1) 0%, rgba(255, 143, 0, 1) 100%);
  --highlight-height: 3px;
}

p:not(.signin-title > *) {
  color: white;
  text-align: center;
  font-weight: bold;
}

.bottom {
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
}

ion-button{
  &.delete-button {
    --background: transparent;
    --color: white;
    --box-shadow: none;
  }
}

ion-fab-button {
  &.add-button {
    --background: var(--color-orange);
    --color: white;
    margin: auto;
  }
  &.edit-button {
    --background: var(--color-pink);
    --color: white;
  }
}
