<ion-grid>
<ion-row>
  <ion-col size="12">
    <ion-searchbar (ionInput)="setSearchTerm($event)" n inputmode="search" showCancelButton="focus" debounce="500" animated placeholder="Search Friend"></ion-searchbar>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-list>
      <ion-row>
        <ion-col size="12" *ngFor="let friend of friends">
          <ion-item-sliding class="ion-padding-horizontal">
            <ion-item-options side="start">
              <ion-item-option (click)="deleteFriend(friend)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item class="item">
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              <p class="info">{{friend?.name}}</p>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option [routerLink]="'./Items'" (click)="visitFriend(friend)">
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-col>
</ion-row>



</ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" edge >
  <ion-fab-button class="add-button" (click)="openDialogAddFriend()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
