<ion-segment (ionChange)="changeList()" value="private" slot="fixed">
  <ion-segment-button value="private" class="button-all" >
    <ion-label>Private</ion-label>
  </ion-segment-button>
  <ion-segment-button value="public" class="button-public" >
    <ion-label>Public</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-grid>
  <ion-row style="overflow: scroll">
    <ion-col *ngFor="let itemDetail of itemsFiltered">
      <div>
        <app-items [itemDetail]="itemDetail" ></app-items>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" edge >
  <ion-fab-button [routerLink]="'/section/Home/NewItem'">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
