<!-- <ion-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="signin-title ion-padding-start">
        <ion-title class="ion-no-padding">Edit Item</ion-title>
        <p>Dare to be better</p>
      </ion-col>
    </ion-row>
    <form>
      <ion-row>
        <ion-col>
          <ion-item class="color-input" >
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Subtitle</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="color-input">
            <ion-label position="floating">Units of Measurement</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-item lines="none" class="ion-margin ion-padding">
              <ion-label>Make it public</ion-label>
              <ion-toggle></ion-toggle>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="ion-margin-horizontal ion-padding-horizontal" expand="block" fill="solid" size="large">Save changes</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
 -->

 <p>works</p>
