
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $app-primary: mat-palette($mat-indigo);
// $app-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $app-warn: mat-palette($mat-red);
// $app-typography: mat-typography-config(
//   $font-family: 'Asap'
// );
// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $app-theme: mat-light-theme((
//   color: (
//     primary: $app-primary,
//     accent: $app-accent,
//     warn: $app-warn,
//   ),
//   typography: $app-typography
// ));

// // Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
// // @include mat-base-typography($app-theme);

// // // Override typography for a specific Angular Material components.
// // @include mat-checkbox-typography($app-theme);

// // // Override typography for all Angular Material, including mat-base-typography and all components.
// // @include angular-material-typography($app-theme);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($app-theme);
// // Override the typography in the core CSS.
// @include mat-core($app-theme);


// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #a9a9a9;
    --ion-color-primary-rgb: 169, 169, 169;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #959595;
    --ion-color-primary-tint: #b2b2b2;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --color-pink: #e91e63;
    --color-orange: #ff8f00;
    --highlight-color-invalid: linear-gradient(to right, rgba(233, 30, 99, 1) 0%, rgba(255, 143, 0, 1) 100%) !important;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
      --ion-background-color: #292929;
      --ion-background-color-rgb: 41,41,41;

      --ion-text-color: #FFFFFF;
      --ion-text-color-rgb: 255,255,255;

      --ion-color-step-50: #343434;
      --ion-color-step-100: #3e3e3e;
      --ion-color-step-150: #494949;
      --ion-color-step-200: #545454;
      --ion-color-step-250: #5f5f5f;
      --ion-color-step-300: #696969;
      --ion-color-step-350: #747474;
      --ion-color-step-400: #7f7f7f;
      --ion-color-step-450: #898989;
      --ion-color-step-500: #949494;
      --ion-color-step-550: #9f9f9f;
      --ion-color-step-600: #a9a9a9;
      --ion-color-step-650: #b4b4b4;
      --ion-color-step-700: #bfbfbf;
      --ion-color-step-750: #cacaca;
      --ion-color-step-800: #d4d4d4;
      --ion-color-step-850: #dfdfdf;
      --ion-color-step-900: #eaeaea;
      --ion-color-step-950: #f4f4f4;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
      --ion-background-color: #292929;
      --ion-background-color-rgb: 41,41,41;

      --ion-text-color: #FFFFFF;
      --ion-text-color-rgb: 255,255,255;

      --ion-color-step-50: #343434;
      --ion-color-step-100: #3e3e3e;
      --ion-color-step-150: #494949;
      --ion-color-step-200: #545454;
      --ion-color-step-250: #5f5f5f;
      --ion-color-step-300: #696969;
      --ion-color-step-350: #747474;
      --ion-color-step-400: #7f7f7f;
      --ion-color-step-450: #898989;
      --ion-color-step-500: #949494;
      --ion-color-step-550: #9f9f9f;
      --ion-color-step-600: #a9a9a9;
      --ion-color-step-650: #b4b4b4;
      --ion-color-step-700: #bfbfbf;
      --ion-color-step-750: #cacaca;
      --ion-color-step-800: #d4d4d4;
      --ion-color-step-850: #dfdfdf;
      --ion-color-step-900: #eaeaea;
      --ion-color-step-950: #f4f4f4;
  }


html, body { height: 100%; }
body { margin: 0; font-family: 'Asap', sans-serif !important; }
